<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-2">
                        <div class="Flipkart">
                            <a>
                                <img src="../../assets/images/Flipkart.png" style="width: 75px;" alt="flipkart"
                                    class="flip">
                            </a>
                            <a class="Explore" href="#"> Explore <span class="plus">Plus</span>
                                <img src="../../assets/images/plus.png" width="10px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" title="Search for products,brands and more"
                            placeholder="Search for products,brands and more">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="nav">
                        <div class="col-md-3">
                            <div class="menu">
                                <button> Login</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="seller">
                                <span>Become a Seller </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="more">
                                <p> More</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cart">
                            <span> Cart </span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>