.login {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
small{
    color: #6c757d;
}
.mb-2{
    color: #6c757d;

}
.form-check-input{
    position:absolute;
    margin-top: 0.3rem;
}
.form-check{
    margin-bottom: 1rem;
    margin-top: 1rem;
}




.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, 15);
    background-clip: padding-box;
}






