<div class="login">

    <div class="card">

        <div class="card-header">
            <div class="account">
                <strong> Login into your account </strong>
            </div>
        </div>

        <div class="card-body">

            <div class="child">

              
                <form>
                    <div class="form-group">
                        <label for="email" class="mb-2">Email Address:</label>
                        
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><small> We don't share email with anyone</small>
                    </div>
            
                    <br>
                    
                    <div class="form-group">
                        <label for="pwd" class="mb-2">Password:</label>
                        <input type="password" class="form-control " id="pwd" placeholder="Enter password" name="pswd"><small> your password save in encrypted form</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"> <label> Check me out</label>
                    </div>
            
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

      
    </div>

  
   
</div>


