<div class="SignUp">

    <div class="card">

        <div class="card-header">
            <div class="account">
                <strong> SignUp into your account </strong>
            </div>
        </div>

        <div class="card-body">
            <div class="child">
                <form>

                    <div class="form-group">
                        <label for="email" class="mb-1">User Name/Mobile No :</label>

                        <input type="email" class="form-control" id="email" placeholder="Enter User Name/Mobile No."
                            name="email"><small> </small>
                        <br>
                    </div>

                    <div class="form-group">
                        <label for="email" class="mb-2">Email Address:</label>

                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                            name="email"><small> </small>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="pwd" class="mb-3">Password:</label>
                        <input type="password" class="form-control " id="pwd" placeholder="Enter password"
                            name="pswd"><small> </small>
                    </div>

                    <br>
                    <div class="form-group">

                        <label for="gender" class="mb-4">Gender:</label>

                        <input type="radio" style="margin-left:10px" name="gender">
                        male

                        <input type="radio" name="gender">
                        female
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"> <label> Check me out</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

</div>