<app-header></app-header>

<section class="slider_section">

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-3 mt-4 " *ngFor ="let data of items" >
                <div class="card" style="width: 14rem; text-align: center;">
                    <img src="../../assets/images/tshirt1.Jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{data.title}}</h5>
                        <p class="card-text">  </p>
                        <button class="btn btn-primary"> AddToCart</button>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>

</section>