
<app-header></app-header>

<section class="slider_section">

    <div class="container">
        <div class="row">
            <div class="col-lg-3" *ngFor = "let data of items">

                <div class="products-section">
                    <div class="image-section">
                    
                    </div>
                    <div class="products-desc">
                      
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
